@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    St. Petersburg <br/>
    St. Petersburg State University <br/>
    Faculty of Applied Mathematics - Control Processes <br/><br/>
    Olkhovikova Polina
</address>
<br/>
<address>
    <strong>E-mail:</strong>   <a href="mailto:pd.olkhovicova@gmail.com">pd.olkhovikova@gmail.com</a><br />
    <strong>Vk:</strong> <a href="https://vk.com/dpoli">vk.com/dpoli</a>
</address>